[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
Name[zh_CN]=终端
Comment=Open XFCE Terminal in /workspace
Comment[zh_CN]=在 /workspace 打开 XFCE 终端
Exec=xfce4-terminal --working-directory=/workspace
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
StartupNotify=true
